$box-shadow: rgba(black, 0.3);
$primary: #FF69B4;
$primary-light: lighten(#FF69B4, 15);
$accent-light: lighten(#0F52BA, 40);
$accent: lighten(#0F52BA, 20);
$accent-dark: #0F52BA;
$mobile: 650px;
$navbar-height: 80px;

